$primary: #41404F;
$secondary: #3B857B;
$tertiary: #A13F4B;
$quartary: #EDC07D;
$bg-white: #FFFFFF;
$bg-dark: #BEAD90;
$bg-gradient: linear-gradient(180deg, #FDF2E2 0%, #F6FAF3 100%);
$light-gray: #E3E2E5;
$dark-grey: #898588;
