.navbar {
  position: sticky;
  bottom: 0px;
  height: 4rem;
  background-color: white;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.navbar__items {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar__item {
  height: 100%;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: 1.1em;
}
