.home__card {
  height: 220px;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__card_members {
  display: flex;
}
